$headerimg: "http://localhost:3000/gym.jpg";
$gymimg: "http://localhost:3000/weight.jpg";
$beatifullred: #ff2a43;
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Fjalla+One&family=Oswald&family=Rampart+One&display=swap');
// html{
//     // overflow: hidden;
// }
body{
    // color:white;
    background-color: #020101;
}
.homepage{
    // background-color: #232222;
    color:white;
    background-color: #020101;
    &__wrapper{
        display:flex;
        width: 100%;
        justify-content: center;
    }
    &__line{
        height:4px;
        background-color: red;
        width: 80%;
    }
}
.socials{
    display:flex;
    padding-top: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
    &__item{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.menu{
    display:flex;
    font-size: 2rem;
    font-weight: 700;
    color:white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    &__hamburger{
        display:flex;
        justify-content: start;
    }
}
.logo{
    width: 85%;
    display:flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    color:white;
    &__name{
        font-family: 'Fjalla One', sans-serif;

    }
}
.header{
    height: 400px;
    background-image: url($headerimg);
    background-position:center;
    position: relative;
    &__title{
        position: absolute;
        color:white;
        top:30%;
        left:2%;
        font-size: 1.7rem;
        font-weight: 700;
        width:150px;
        text-align: center;
        
    }
}
.trainers{
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
        margin-top:1rem;
    }
    &__title::after{
        content:"";
        width:70%;
        height:5px;
        display:block;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
    &__trainer{
        margin-top: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        &__img{
            width:250px;
            height: 250px;
            img{
                width: 100%;
                height:100%;
            }
        }
        &__name{
            margin-top: 1rem;
            font-size:1.4rem;
            font-weight: 700;
        }
        &__job{
            margin-top: 0.5rem;
            font-size:1.2rem;
            font-weight: 500;
        }
    }
}
.aboutus{
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
        margin-top:1rem;
    }
    &__title::after{
        content:"";
        width:70%;
        height:5px;
        display:block;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
    &__content{
        padding:1rem;
        color:white;
        text-align: center;
    }
    
}
.offer{
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
        margin-top:1rem;
    }
    &__title::after{
        content:"";
        width:70%;
        height:5px;
        display:block;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
    &__btn{
        transition: 0.5s;
        font-weight: 600;
        font-size:1.3rem;
        padding:0.8rem 0.5rem 0.8rem 0.5rem;
        display:inline-block;
        // width: 75%;
        width:250px;
        margin-bottom:1rem;
        color: #fff;
        background-color:transparent;
        border-color: white;
        // background-color: #e51c21;
        // border-color: transparent;
    }
    &__btn:hover,
    &__btn:focus{
        box-shadow: inset 100em 0 0 0 $beatifullred;
    }
    &__btn:hover{
        cursor: pointer;
                // background-color: black;
    }
    &__elements{
        margin-top:2rem;
        display:flex;
        flex-direction: column;
        padding-left:1rem;
        padding-right: 1rem;
        align-items: center;
        z-index: 1;
        position: relative;
    }
    &__elements::after {
        content: "";
        background: url($gymimg);
        background-size: cover;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }

    &__item{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        margin-bottom:4rem;
        opacity: 1;
        padding-top:2rem;
        
        
        &__title{
            
            &--big{
                
                padding-top:1rem;
                font-size:1.6rem;
                margin-bottom: 1rem;
                font-weight: 700;
                text-align: center;
                font-family: "Montserrat",Sans-serif;
                
                
            }
            &--small{
                width: 90%;
                padding-top:1rem;
                font-size:1.2rem;
                margin-bottom: 1rem;
                font-weight: 400;
                text-align: center;
                font-family: "Montserrat",Sans-serif;
            }
    }
    }
}
.packages{
    &__elements{
        padding:1rem 2rem 1rem 2rem;
        text-align: center;
        &__item{
            margin-bottom:2rem;
            border-radius: 30px;
            padding:2rem;
            &__btn{
                transition: 0.5s;
                margin-top:1rem;
                font-size:1.3rem;
                font-weight: 600;
                padding:0.5rem 0.5rem 0.5rem 0.5rem;
                display:inline-block;
                width: 70%;
                margin-bottom:1rem;
                color: #fff;
                // background-color: #e51c21;
                border:2px solid white;
                background-color: transparent;
                
                // border-color: transparent;
            }
            &__btn:hover,
            &__btn:focus{
                box-shadow: inset 100em 0 0 0 $beatifullred;
            }
            &__btn:hover{
                cursor: pointer;
                // background-color: black;
            }
            &__content{
                &--big{
                    font-family: 'Anton', sans-serif;
                    margin-bottom: 1rem;
                    font-size:1.5rem;
                    font-weight: 800;
                }
                &--small{
                    font-family: 'Oswald', sans-serif;
                    margin-bottom: 0.4rem;
                    font-size:1.2rem;
                    font-weight: 400;
                }
            }
            
        }
        &__item:nth-child(even){
            background-color: purple;
        }
        &__item:nth-child(odd){
            background-color: grey;
        }
    }
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
        margin-top:1rem;
    }
    &__title::after{
        content:"";
        width:70%;
        height:5px;
        display:block;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
    &__others{
        margin: 1rem 0rem 1rem 0rem;
        color:black;
        letter-spacing: 0.1em;
        background-color: white;
        text-align: center;
        font-weight: 600;
        padding:1rem;
        font-size:1.2rem;
        font-family: 'Acme', sans-serif;
    }
}
.contactus{
    padding-top: 1.5rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    &__sendmail{
        &__title{
            padding-top:1rem;
            padding-bottom: 1rem;
            font-size:2rem;
            color:grey;
            display: flex;
            justify-content: center;
            position:relative;
            margin-bottom:2rem;
        }
        &__title::after{
            content:"";
            width:70%;
            height:5px;
            display:block;
            background-color: $beatifullred;
            position: absolute;
            bottom: 0;
        }
    }
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
    }
    &__title::after{
        content:"";
        width:80%;
        height:5px;
        display:block;
        background-color: $beatifullred;
        position: absolute;
        bottom: 0;
    }
    &__socials{
        &__item{
            margin-bottom:3rem;
            &__title{
                &--big{
                    margin-top:2rem;
                    font-size:1.5rem;
                    font-weight: 700;
                }
                &--small{
                    margin-top:1.5rem;
                    font-size:1.1rem;
                    font-weight: 500;
                }
            }
        }
    }
}
.sendmail{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    &__btn{
        margin-top:2rem;
        font-weight: 600;
        padding:0.5rem 0.3rem 0.5rem 0.3rem;
        display:inline-block;
        width: 70%;
        font-size:1.3rem;
        margin-bottom:1rem;
        color: #fff;
        background-color: #e51c21;
        border-color: transparent;
        border-radius: 60px;
    }
    &__input{
        color:white;
        background-color: transparent;
        padding:1rem 0.2rem 1rem 0.2rem;
        // margin:0rem 2rem 0rem 2rem;
        font-size:1.2rem;
        border-top: none;
        border-left:none;
        border-right:none;
        border-color: $beatifullred;
        margin-bottom: 1.2rem;
        width: 90%;
        
    }
    &__input::placeholder{
        color: white;
    }
    &__input:focus{
        outline:none;
    }
}
.footer{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    &__copyright-info{
        font-size:0.8rem;
        &--red{
            color: $beatifullred;
            margin-bottom:0.5rem;
        }
        &--white{
            color: white;
            margin-bottom:0.5rem;
        }
    }
}
.transformation{
    &__name{
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        font-family: 'Anton', sans-serif;
        margin-bottom:2rem;
    }
    &__button{
        display:flex;
        justify-content: center;
    }
    &__btn{
        transition: 0.5s;
        margin-top:1rem;
        font-size:1.3rem;
        font-weight: 600;
        padding:0.5rem 0.5rem 0.5rem 0.5rem;
        display:inline-block;
        width: 70%;
        margin-bottom:1rem;
        color: #fff;
        // background-color: #e51c21;
        border:2px solid white;
        background-color: transparent;
        
        // border-color: transparent;
    }
    &__btn:hover,
    &__btn:focus{
        box-shadow: inset 100em 0 0 0 $beatifullred;
    }
    &__title{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size:2rem;
        color:grey;
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 3rem;
        margin-top:1rem;
        text-align: center;
    }
    &__title::after{
        content:"";
        width:70%;
        height:5px;
        display:block;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
}