$image-width: 100%;
$image-height-proportion: 2/3 * 100%;
// $image-height-proportion: 100%;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.slider{
    max-width: $image-width;
    margin: 0 auto;
    margin: 20px 20px 20px 20px;
}

.slider__images-container{
    position: relative;
    width: 100%;
    padding-bottom: $image-height-proportion;
}
.slider__image-container{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    overflow: hidden;
    img{
        top:50%;
        transform: translateY(-50%);
        width: $image-width;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}
.slider__image-container--first{
    width: 100%;
}
.slider__image-container--second{
    width: 50%;
}
.slider__divider{
    position: absolute;
    width: 3px;
    height:100%;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    background: black;
    display:flex;
    align-items: center;
    justify-content: center;
    .slider__handle{
        border-radius: 50%;
        flex: 0 0 auto;
        background: #C0C0C0;
        width:40px;
        height:40px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }
}
.slider__kgdiff{
    
    top:4%;
    right:4%;
    padding:1rem;
    color: white;
    position: absolute;
    border: 1px solid white;
    background-color: #C0C0C0;
    font-size: 1.3rem;
    font-family: 'Anton', sans-serif;
    border-radius: 50%;
    opacity: 0.7;
}