.reservation__error {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: red;
  text-align: center;
}

.reservation__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}

.reservation__elements input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.reservation__elements label {
  display: inline-block;
  width: 140px;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #ff2a43;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.reservation__elements label:hover {
  background-color: #ff2a43;
  cursor: pointer;
}

.reservation__elements input[type="radio"]:checked + label {
  background-color: #ff2a43;
}

.reservation__elements input[type="radio"]:disabled + label {
  background-color: grey;
  text-decoration: line-through;
}

.reservation__userdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation__userdetails__btn {
  margin-top: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  display: inline-block;
  width: 70%;
  font-size: 1.3rem;
  color: #fff;
  background-color: #e51c21;
  border-color: transparent;
  border-radius: 60px;
}

.reservation__userdetails__btn:hover {
  cursor: pointer;
}

.reservation__userdetails__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.reservation__userdetails__title::after {
  content: "";
  width: 70%;
  height: 5px;
  display: block;
  background-color: #ff2a43;
  position: absolute;
  bottom: 0;
}

.reservation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  border: 2px solid #ff2a43;
  border-radius: 30px;
  padding: 0.4rem;
  margin-top: 1rem;
  min-width: 110px;
}

.reservation__item:hover {
  cursor: pointer;
  background-color: #ff2a43;
}

.MuiInputBase-root::before {
  border-bottom: 2px solid #ff2a43 !important;
}

.MuiInputBase-root::after {
  border-bottom: 2px solid #ff2a43 !important;
}

.Mui-focused {
  color: white !important;
}

.MuiInput-inputTypeSearch {
  margin-top: 2rem;
  color: white;
}

.MuiInputBase-input {
  color: white;
}

.MuiSelect-selectMenu {
  margin-top: 1rem;
}

#standard-search {
  color: white;
}
/*# sourceMappingURL=reservation.css.map */